{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block content %}
                            <div class="card mt-4 custom-card">
                                <div class="card-body p-4">
                                    <div class="avatar-lg mx-auto mt-2">
                                        <div class="avatar-title bg-light text-success display-3 rounded-circle">
                                            <i class="ri-checkbox-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h4>{% trans "Change Password" %}</h4>
                                        {% include "partials/errors.html" with messages=messages %}
                                        <p class="text-muted mx-4">{% trans 'Your password is now changed.' %}</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 text-center">
                                <a href="{% url 'apps.main.dashboards:dashboard' %}" class="btn btn-success w-100">Back to Dashboard</a>
                            </div>
                                <!-- end row -->
{% endblock content %}
    