altgraph==0.17.3
amqp==5.1.1
APScheduler==3.10.1
asgiref==3.7.2
billiard==4.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coreapi
coreschema==0.0.4
crispy-bootstrap5
cron-validator==1.0.8
cryptography==41.0.1
defusedxml==0.7.1
diff-match-patch==20230430
distlib==0.3.6
Django==4.1.10
django-allauth
django-config==0.1.4
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-decorator-include
django-embed-video
django-extensions
django-filter
django-formtools
django-import-export
django-jquery
django-mssql-backend==2.8.1
django-multifactor
django-otp
django-phonenumber-field
djangorestframework==3.14.0
drf-yasg==1.21.6
ecdsa==0.18.0
et-xmlfile==1.1.0
fido2==0.9.3
filelock==3.12.0
gitpython
graphviz==0.20.1
greenlet==2.0.2
gunicorn==20.1.0
heyoo
idna==3.4
imgkit
import-export==0.3.1
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
kombu==5.3.1
macholib==1.16.2
MarkupPy==1.14
MarkupSafe==2.1.3
mock==5.1.0
modulegraph==0.19.5
mssql-django==1.3
mysql-connector==2.2.9
mysql-connector-python==8.0.33
mysqlclient==2.2.0
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.1
Pillow==9.5.0
platformdirs==3.5.1
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
psycopg==3.1.8
psycopg-binary==3.1.8
pyasn1==0.5.0
pycparser==2.21
pydot==1.4.2
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
PyJWT==2.7.0
PyMySQL==1.1.0
pyodbc==4.0.39
pyotp==2.8.0
pyparsing==3.0.9
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-u2flib-server==5.0.1
python3-openid==3.2.0
pytz==2023.3
pyudev==0.24.1
PyYAML==6.0
qrcode==7.4.2
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rsa==4.9
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
segno
sh==2.0.4
six==1.16.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
spark-parser==1.8.9
SQLAlchemy==2.0.19
sqlparse==0.4.4
tablib==3.5.0
typing_extensions==4.7.0
tzdata==2023.3
tzlocal==5.0.1
uncompyle6==3.7.4
uritemplate==4.1.1
urllib3==2.0.3
vine==5.0.0
virtualenv==20.23.0
wcwidth==0.2.6
wfastcgi==3.0.0
websocket
whitenoise==6.4.0
WMI==1.4.9
wmi-client-wrapper==0.0.12
xdis==5.0.13
xlrd==2.0.1
xlwt==1.3.0