<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\blueera-softech-notify" />
    <add key="WSGI_HANDLER" value="core_bes_wu_suprema.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="core_bes_wu_suprema.settings" />
</appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
    <handlers>
        <add name="BlueEraWU FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\blueera-softech-notify\env\Scripts\python.exe|&quot;C:\inetpub\wwwroot\blueera-softech-notify\env\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        </system.webServer>
    </location>
</configuration>