
{% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            BlueEra Softech Notify
                        </div>
                        <div class="col-sm-4 text-center">
                            Version {{ APP_VERSION }}
                        </div>
                        <div class="col-sm-4">
                            <div class="text-sm-end d-none d-sm-block">
                                Copyright © <script>document.write(new Date().getFullYear())</script> <a href="https://blueerasoftech.com">BlueEra Softech</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
{% endblock footer %}
    