{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Database Connection{% endblock title %}
    
{% block content %}
                <div class="card mt-4 custom-card">
                    <div class="card-body p-4">
                        <div class="mt-2">
                            <h5 class="text-primary text-center">Database Connection!</h5>
                            {% comment %} <p class="text-muted text-center">Loren Ipsum.</p> {% endcomment %}
                        </div>

                        <div class="mt-4">
                            <div class="mt-4">
                                <form method="post" id="database_configuration_form" action="{% url 'bes_setup:connect-database-submit' %}">
                                    {% csrf_token %}
                                    {% include "partials/errors.html" with messages=messages %}

                                    <div class="mt-4 row">
                                        <div class="col-6">
                                            <label for="db_user" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="db_user" name="db_username" value="{{ db_config.USER|default:"" }}">
                                        </div>

                                        <div class="col-6">
                                            <label for="db_password" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="db_password" name="db_password" value="{{ db_config.PASSWORD|default:"" }}">
                                        </div>
                                    </div>

                                    <div class="mt-3 row">
                                        <div class="col-8">
                                            <label for="db_host" class="form-label">Host</label>
                                            <input type="text" class="form-control" name="db_host" id="db_host" value="{{ db_config.HOST|default:"" }}">
                                        </div>

                                        <div class="col-4">
                                            <label for="db_port" class="form-label">Port</label>
                                            <input type="text" class="form-control" name="db_port" id="db_port" value="{{ db_config.PORT|default:"" }}">
                                        </div>
                                     </div>

                                    <div class="mt-4 mb-2">
                                        <label for="db_type" class="form-label" style="margin-right: 15px;">DB Type:</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="db_type" id="db_type" value="mssql" {% if db_config.ENGINE is None or db_config.ENGINE == 'mssql' or db_config.ENGINE == "" %} checked {% endif %}>
                                            <label class="form-check-label" for="db_type">
                                                Microsoft SQL (MSSQL)
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline mb-2">
                                            <input class="form-check-input" type="radio" name="db_type" id="db_type" value="mysql" {% if db_config.ENGINE == 'django.db.backends.mysql' %} checked {% endif %}>
                                            <label class="form-check-label" for="db_type">
                                                MySQL
                                            </label>
                                        </div>
                                    </div>

                                    <div class="mt-3 mb-5 db_driver_parent">
                                        <label for="db_driver" class="form-label">Database Driver</label>
                                            <select class="form-control" data-choices data-choices-search-false
                                                    name="db_driver" id="db_driver">
                                                    {% for driver in drivers %}
                                                        <option value="{{ driver }}">{{ driver }}</option>
                                                    {% endfor %}
                                            </select>
                                        </label>
                                    </div>

                                    
                                    <div class="mt-4 text-center">
                                        <div class="gap-1 flex-wrap">
                                            <button type="submit" class="btn btn-success add-btn" style="width: 175px;"  data-bs-toggle="modal" id="db_submit_btn" data-bs-target="#showModal"><i class="ri-save-line align-bottom me-1"></i> Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 text-center">
                    <p class="mb-0"> Need Help? <a href="{% url 'bes_setup:bes-setup-contact-us' %}" class="fw-semibold text-primary text-decoration-underline"> Contact Us </a> </p>
                </div>
{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        function toggleDbDriverField() {
          var dbDriverField = $('#db_driver');
          var selectedValue = $('input[name="db_type"]:checked').val();
          if (selectedValue === "mssql") {
            dbDriverField.prop('disabled', false);
            $('.db_driver_parent').show();

          } else {
            dbDriverField.prop('disabled', true);
            $('.db_driver_parent').hide();
          }
        }
      
        // Attach a change event handler to the radio inputs with name "db_type"
        $('input[name="db_type"]').change(function () {
          toggleDbDriverField();
        });
      
        // Check the initial value and hide the "db_driver_parent" field if needed
        toggleDbDriverField();
      });
</script>
{% endblock extra_js %}
    