{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Contact Us{% endblock title %}
    
{% block content %}
                <div class="card mt-4 custom-card contact-us">
                    <div class="card-body p-4">
                        <div class="mt-2">
                            <h5 class="text-primary text-center">Get in Touch!</h5>
                            <p class="text-muted text-center">We are here to help you.</p>
                        </div>

                        <div class="mt-4">
                            <div class="mt-4 text-center">
                                <p>For any queries or support you may contact us on <a href="mailto:support@blueerasoftech.com">support@blueerasoftech.com</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4 text-center">
                    <p class="mb-0">Don't have License Key ? <a href="https://blueerasoftech.com/contact-us" class="fw-semibold text-primary text-decoration-underline"> Contact Us </a> </p>
                </div>
{% endblock content %}

{% block extra_js %}
        
{% endblock extra_js %}
    