{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Steps Completed{% endblock title %}
    
{% block content %}
                <div class="card mt-4 card-bg-fill custom-card">
                    <div class="card-body p-4 text-center">
                        {% include "partials/errors.html" with messages=messages %}
                        <div class="avatar-lg mx-auto mt-2">
                            <div class="avatar-title bg-light text-success display-3 rounded-circle">
                                <i class="ri-checkbox-circle-fill"></i>
                            </div>
                        </div>
                        <div class="mt-4 pt-2">
                            <h4>Setup Completed!</h4>
                            <p class="text-muted mx-4">You have successfully completed setup. Login to proceed further.</p>
                            <div class="mt-4">
                                <a href="{% url 'account_login' %}" class="btn btn-success w-100">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <div class="mt-4 text-center">
                    <p class="mb-0"> Need Help? <a href="{% url 'bes_setup:bes-setup-contact-us' %}" class="fw-semibold text-primary text-decoration-underline"> Contact Us </a> </p>
                </div>
{% endblock content %}

{% block extra_js %}
        
{% endblock extra_js %}
    