<div style="text-align: center; margin: 0px auto;">
    <ul style="list-style: none;display: flex; justify-content: space-evenly; padding-top: 25px;padding-left: 0px; margin-bottom: 20px; font-family: 'Roboto', sans-serif;">
        <li>
            <a href="#" style="color: #495057;">Help Center</a>
        </li>
        <li>
            <a href="#" style="color: #495057;">Support 24/7</a>
        </li>
        <li>
            <a href="#" style="color: #495057;">Account</a>
        </li>
    </ul>
    <p style="font-family: 'Roboto', sans-serif; font-size: 14px;color: #98a6ad; margin: 0px;"><script>document.write(new Date().getFullYear())</script> © BlueEra Softech</p>
</div>
